<br />
<br />

<div class="container col-md-5 col-md-offset-3">
    <div class="row">
        <div class="form-horizontal">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">ACTUALIZACION DE SOLICITUD</div>
                <div class="panel-body">
                    <p class="text-danger"><h2> SOLICITUD ACTUALIZADA CORRECTAMENTE </h2></p>
                    <p>

                    </p>
                    <p>
                        <div class="form-group center-block">
                            <div class="col-md-10">
                                <a href="@Url.Content("~/Listados/VerListadosEtapa?etapa=2")" class="btn btn-success">Volver</a>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

