<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Garantías Estatales</h1>
                <p>SISTEMA INGRESO DE SOLICITUDES</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <p>Panel de Control</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <table id="ListOpeDb" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Desde</th>
                                        <th>Hasta</th>
                                        <th>Simuladas</th>
                                        <th>Solicitadas</th>
                                        <th>Cursadas</th>
                                        <th>Pendiente de Carga Corfo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>